#Files
*.csv
*.dna
*.xlsx
*.py[cod]
*.so
.env
*.log
*.sqlite3
*.parquet
*.ipynb
*.spec
*.bac
*.egg-info
*.lock

mypy.ini
ruff.toml

#Directories
.idea/
.vscode/
.build/
.flake8
build/
dist/
__pycache__/
venv/
docs/
test_data/
